/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
/.env
.env.backup

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/images*
/public/focus*
/public/audio*
/public/zip*

fgit.zip
fasocode.zip
nodb
